<!-- Start new folder modal -->
<div class="modal fade" id="open-deck-modal" tabindex="-1" role="dialog">
   <div class="modal-dialog __deck-editor">
      <div class="modal-content" style="border-radius: 0;">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" data-action="clear-owl" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Editor</h4>
         </div>
         <form class="folder-form">
            <div class="modal-body">
               <div class="row">
                  <div class="col-xs-12 ">
                     <h3>Slide to see more</h3>
                  </div>
                  <div class="col-xs-12 ">
                     <div id="thumbnail-container" class="thumb-container owl-carousel owl-theme"></div>
                     <div class="add_btn add_btn--blue row">
                        <div class="col-xs-offset-9 col-xs-3 col-sm-offset-10 col-sm-2 col-md-2 col-lg-2">
                           <span data-action="add-card" class="add-new-folder_btn pull-right">+</span>
                        </div>
                     </div>
                     <hr />
                  </div>
                  <div class="col-xs-12 card-container">
                     <div data-action="hide-container" class="btn btn-warning pull-right">Hide</div>
                     <div class="card card--front">
                        <div class="__label">
                           <span class="__text">Question</span>
                        </div>
                        <div class="__textarea">
                           <textarea name="question" data-action="save-card">Your pre-filled content.....</textarea>
                        </div>
                     </div>
                     <div class="card card--back">
                        <div class="__label">
                           <span class="__text">Answer</span>
                        </div>
                        <div class="__textarea" >
                           <textarea name="answer" data-action="save-card">Your pre-filled content.....</textarea>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </form>
      </div>
      <!-- /.modal-content -->
   </div>
   <!-- /.modal-dialog -->
</div>
<!-- /.modal -->