<!-- Start new folder modal -->
<div class="modal fade pos-abs-cntr" id="delete-deck-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Are you sure?</h4>
            </div>
            <form class="folder-form">
                <div class="modal-body">

                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <div class="btn btn-danger" data-action="delete-menu">YES</div>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->