.folder-container {
    background-color: $gray-blue;
    border-radius: 3px;
    @include box-shadow(inset, 10px, #000);
    position: relative;


    .folder-column {
        position: relative;
        height: 200px;
    }

    .folder-select_btn {
        @include transition(all, 0.5s, linear);
        @include pos-ab-cntr();
        @include make-square(190px);
        cursor: pointer;
        padding: 1%;
        display: inline-block;
        z-index: 5;

        &:hover {
            @include box-shadow(inset, 10px, rgba(200,238,251,0.85));
        }
    }


    .folder-item {
        @include pos-ab-cntr();
        @include width-height(128px, 100px);
        display: inline-block;
        text-align: center;
        border: 1px solid black;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e1ffff+0,c8eefb+34,bee4f8+75,b1d8f5+100&1+0,0.55+100 */
        background: -moz-radial-gradient(center, ellipse cover, rgba(225,255,255,1) 0%, rgba(200,238,251,0.85) 34%, rgba(190,228,248,0.66) 75%, rgba(177,216,245,0.55) 100%); /* FF3.6-15 */
        background: -webkit-radial-gradient(center, ellipse cover, rgba(225,255,255,1) 0%,rgba(200,238,251,0.85) 34%,rgba(190,228,248,0.66) 75%,rgba(177,216,245,0.55) 100%); /* Chrome10-25,Safari5.1-6 */
        background: radial-gradient(ellipse at center, rgba(225,255,255,1) 0%,rgba(200,238,251,0.85) 34%,rgba(190,228,248,0.66) 75%,rgba(177,216,245,0.55) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1ffff', endColorstr='#8cb1d8f5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        .folder-content {
            position: relative;
            z-index: 1;
            @include user-select(none);

            h2 {
                font-size: 1.5rem;
                line-height: 62px;
            }
        }


        &.left-45 {
            @include rotate(-5deg);
        }


        &.right-45 {
            @include rotate(2deg);
        }
    }

    .folder-menu {
        background-color: $dark;
        color: white;
        width: 128px;
        text-align: center;
        @include box-shadow(inset, 10px, #000);
        position: relative;
        z-index: 10;
        left: 150px;

        display: none;
        @media(min-width: $screen-sm-min) and (max-width: $screen-sm-max){
            left: 110px;
        }

         @media(max-width: $screen-xs-max){
            left: 10px;
            top:10px;
        }



        .folder-menu-option-container {
            height: 44px;
            line-height: 44px;
            border-bottom: 1px solid white;
            cursor: pointer;


            @include transition(all, 0.15s, ease-out);

            &:hover {
                @include box-shadow(inset, 30px, #000);
            }

            &:active {
                background-color: $dark-lite;
            }

            &.last {
                border-bottom: none;
            }

            .folder-menu-option{
                @include user-select(none);
            }
        }
    }

    .new-folder {
        border-top: 1px solid white;
        height: 100px;
        text-align: center;
        line-height: 100px;

        .add-new-folder_btn {
            font-size: 5rem;
            color: white;
            cursor: pointer;
            @include transition(all, 0.5s, linear);
        }

        .add-new-folder_btn:hover {
            text-shadow: 0 0 3px rgba(200,238,251,0.85);
        }
    }
    .__input{
         width: 150px;
        display: block;
        border: 1px solid #999;
        height: 25px;
        -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        padding:0 5px;
        margin: 5px;

        &--search{
            float:right;
            margin:10px;
        }

    }

}


    .add_btn {

        .add-new-folder_btn {
            font-size: 5rem;
            cursor: pointer;
            @include transition(all, 0.5s, linear);

        }

        &--blue {
            color: rgba(177,216,245,1);
        }

        .add-new-folder_btn:hover {
            text-shadow: 0 0 1px rgba(0,0,0,0.85);
        }
    }
